/*Basic Reset */
html, body, div, h1, h2, h3, h4, p, header, footer, form, ul, li {
	margin:0;
	padding:0;
}

body {
	font-size:100%;
	text-align:center;
	font-family: "Open Sans";
}

header {
	height:56px;
	position: relative;
	text-align:left;

	.logo, .questions {
		position: absolute;
		top:14px;
	}
	.logo {
		font-family: "Raleway";
		font-weight: 300;
		font-size: 27.36px;
		left:40px;
	}
	a {
		color:#0b76be;
		text-decoration: none;
	}

	.logo p {
		font-size: 9.23px;
		padding-left: 58px;
		text-transform: uppercase;
		margin-top: -5px;
		color:#0b76be;
	}

	.questions {
		font-family:'Roboto';
		font-weight: 400;
		font-size: 14px;
		color: #dadada;
		right:40px;
		text-align:right; 
	
		p:last-child {
			font-weight: 700;
			font-size: 18px;
			color: #0b76be;
		}

	}


}

.wrap{
	position:relative;
	width:1024px;
	margin:0 auto;
}

.banner-main {
	background:url('../img/bg.jpg') #0769ad top center no-repeat;
	color:white;
	min-height:680px;
	
	
	h1 {
		padding-top:30px;
		font-weight: 700;
		font-size:34px;
	}
	h2 {
		padding-top:10px;
		font-weight:400;
		font-size:25px;
	}

	.verified {
		text-align: left;
		p {
			position: absolute;
			top: 628px;
			left: 158px;
		}
	}
	form {
		width:350px;
		height:400px;
		margin:0 auto;
		margin-top:78px;
	}
	label {
		font-size:24px;
	}

	input, select {
		margin:15px 0;
		width: 285px;
	    height: 65px;
	    border: 1px solid #0190d2;
	    border-radius: 3px;
	}
	select {
		/* Hide Select Arrows */
		-webkit-appearance:none;
		-moz-appearance:none;
	  	-o-appearance:none;
	  	appearance:none; 

	  	/* Need Tweak for IE8 */

	    text-indent: 0.01px;
	    text-overflow: '';
	    font-size:20px;
	    padding-left:10px;
	    font-weight: 300;
	    color: #6f808f;

	}
	select[name="home"]{
		background:url('../img/home.png') no-repeat 225px center #fff;
	}

	select[name="moveDate"]{
		background:url('../img/calendar.png') no-repeat 230px center #fff;
	}


	input[name="getMoving"] {
	    background: #f3820a;
	    font-weight: 700;
	    font-size: 36px;
	    border:0;
	    color: white;
	    margin: 20px 0 32px 0;
	    box-shadow: 1px 1px 4px rgba(0,0,0,0.38);
	}

}

.icons {
	position:relative;
	background:url('../img/icons.png') no-repeat #004f87;
	background-position: 50% 20px;
	height:92px;
	font-size:16px;

	ul {
		list-style-type: none;
		li {
			display:inline;
		}
	}
	p {
		position:absolute;
		top:60px;
		left: 50%;
		margin-left: -340px;
		text-align: center;
		color: #569cce;
		padding-bottom:10px;
	}
}

footer {
	
	.info {
		font-size:18px;
		padding:30px 0;
			p {
				color: #5692bb;	
				padding-bottom:20px;
			}
			p:last-child {
				padding-bottom:0px;
			}

	}
	.disclaimer {
		background-color: #0769ad;
		color:#abd6f4;
		padding:20px;
		font-size:14px;

	}
	.footer-menu {
		position:relative;
		background-color: #02385d;
		text-align: left;
		min-height: 78px;
	
		.wrap > p {
			position:absolute;
			top:20px;
			left:26px;
			color:white;
		}
		.copyright {
			position: absolute;
			top:20px;
			right:42px;
			text-align: right;
			color: #4b83aa;
		}

	}
	
}
/* Helper Classes */
.bold {
	font-weight:700;
}

@media screen and (max-width:1023px) {
	.wrap {
		width:720px;
	}
}